<a href="https://colab.research.google.com/github/nathan-colosimo/CIS331-Assignments/blob/main/CIS_331_Assignment_4a_Data_Frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
# ---
# title: "Assignment 4a: Data Frames"
# author: "Nathan Colosimo"
# Date: "12/1/2022"
# ---

# Definition of vectors
name <- c("Lightyear 0","Tesla Model 3", "XPENG P5","Lucid Air Pure", "Honda e", "Porsche Taycan",  "Mercedes EQE 350", "Volkswagen ID.5 GTX") 
accel <- c(10.0, 6.1, 7.5,4.2, 9.0,5.4,6.4,6.3 )
top_speed <- c(160,225,150,200,145,230,210,180) # km/h
range <- c(550, 380, 385, 560,170,410, 515,405) # in km
energy_consu <- c(109, 151,156,157,168,173,173,190 ) # Wh/km
tax_credits <- c(TRUE,FALSE,TRUE, TRUE, FALSE, TRUE, TRUE, FALSE )

In [35]:
# Task 1 [3pts]
# Create a data frame from the vectors above and call it ev_df

ev_df <- data.frame(name, accel, top_speed, range, energy_consu, tax_credits)

In [36]:
# Task 2 [1pt]
# Check the structure of ev_df with str()

str(ev_df)

'data.frame':	8 obs. of  6 variables:
 $ name        : chr  "Lightyear 0" "Tesla Model 3" "XPENG P5" "Lucid Air Pure" ...
 $ accel       : num  10 6.1 7.5 4.2 9 5.4 6.4 6.3
 $ top_speed   : num  160 225 150 200 145 230 210 180
 $ range       : num  550 380 385 560 170 410 515 405
 $ energy_consu: num  109 151 156 157 168 173 173 190
 $ tax_credits : logi  TRUE FALSE TRUE TRUE FALSE TRUE ...

In [37]:
#### Task 3 [1pt] 
# *From* `ev_df`*, select the top speed of Tesla Model 3: this is the value at the second row and the third column. Simply print out the result.*

ev_df[2,3]

[1] 225

In [38]:
#### Task 4 [1pt]
# Print out data for Lucid Air Pure (entire fourth row)

ev_df[4, ]

  name           accel top_speed range energy_consu tax_credits
4 Lucid Air Pure 4.2   200       560   157          TRUE

In [39]:
#### Task 5 [1pt]
# Display first 5 values of the name and range column

ev_df[1:5, "name"]
ev_df[1:5, "range"]

[1] "Lightyear 0"    "Tesla Model 3"  "XPENG P5"       "Lucid Air Pure"
[5] "Honda e"

[1] 550 380 385 560 170

In [40]:
#### Task 6 [2pt]
# Select the tax credits variable from ev_df
taxcredits_vector <- ev_df[, "tax_credits"]
# Print out taxcredits_vector
taxcredits_vector

[1]  TRUE FALSE  TRUE  TRUE FALSE  TRUE  TRUE FALSE

In [41]:
#### Task 7 [2pts]
# Display EV's / vehicles with acceleration < 7.0

subset(ev_df, accel < 7.0)

  name                accel top_speed range energy_consu tax_credits
2 Tesla Model 3       6.1   225       380   151          FALSE
4 Lucid Air Pure      4.2   200       560   157           TRUE
6 Porsche Taycan      5.4   230       410   173           TRUE
7 Mercedes EQE 350    6.4   210       515   173           TRUE
8 Volkswagen ID.5 GTX 6.3   180       405   190          FALSE

In [42]:
#### Task 8 [2pts]
# Adapt the code to select all columns for ev_df with tax_credits = FALSE 

subset(ev_df, tax_credits == FALSE)

  name                accel top_speed range energy_consu tax_credits
2 Tesla Model 3       6.1   225       380   151          FALSE
5 Honda e             9.0   145       170   168          FALSE
8 Volkswagen ID.5 GTX 6.3   180       405   190          FALSE

In [43]:
#### Task 9 [2pts]
# Use order() to create rankings
rankings <- order(ev_df[, "accel"])
# Use rankings to sort ev_df and display the output
rankings
sort(rankings)

[1] 4 6 2 8 7 3 5 1

[1] 1 2 3 4 5 6 7 8